<!doctype html>
<html>
<head>
    <title>Grade Student</title>
</head>

<body>
  <h1>Grade Student</h1>

  <form action="/grade-add" method="POST">
    <div>
      <select name="name">
        {% for name in students %}
          <option value="{{ name[0] }} {{ name[1] }}">{{ name[0] }} {{ name[1] }}
          </option>
        {% endfor %}
      </select>
    </div><br>
    <div>
      <select name="project">
        {% for project in projects %}
          <option value="{{ project[0] }}">{{ project[0] }}</option>
        {% endfor %}
      </select>
    </div><br>
    <div>
      <label name="grade">Enter the grade: </label>
      <input type="text" name="grade"></input>
      <input type="submit"></input>
    </div>
  </form>

</body>
</html>